body {
    font-family: sans-serif;
    background-image: url("background.png");
    width: 50%;
    margin: auto;
}

.title {
    text-align: center;
    font-size: 50px;
    padding: 30px;
    color: lightgray;
    background-color: black;
    font-weight: 800;
}

.main {
    background-color: white;
    justify-content: center;
    align-content: center;
    grid-gap: 10px;
    padding: 20px;
    border-style: dotted;
}